# --- Secretos (NUNCA subir) ---
.env
.env.*
!.env.example
gee-sa-key.json
credentials/
*.pem
*.key

# --- Python ---
*.pyc
__pycache__/
*.egg-info/
.venv/
venv/

# --- Django ---
backend/staticfiles/
backend/media/
*.sqlite3

# --- Datos pesados ---
*.tif
*.tiff

# --- SO / editores ---
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
